loglevel=http
save-exact=true
strict-ssl=false
legacy-peer-deps=true
# sass_binary_site=https://nexus.ss.aws.tbcloud.org/repository/raw-internal/node
# disturl=https://nexus.ss.aws.tbcloud.org/repository/raw-internal/node/
# registry=https://nexus.ss.aws.tbcloud.org/repository/npm-all/
# @tescobank:registry=https://nexus.ss.aws.tbcloud.org/repository/npm-all/
